.main {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
}

.section_title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #ff4912;
    text-shadow: 3px 3px 0 rgb(0, 0, 0);
}