.main {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
}

.section_title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #ff4912;
    text-shadow: 3px 3px 0 rgb(0, 0, 0);
}

.prev_config {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.prev_config div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
}

.prev_config label {
    margin-bottom: 3px;
    font-size: 1.3rem;
}

.prev_config select, .prev_config option {
    background-color: black;
    color: white;
    border: 2px solid #f8d435;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.678);
    border-radius: 5px;
    height: 2rem;
    font-size: 1.2rem;
    width: 6rem;
    margin: auto;
    text-align: center;
}

.run_list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-height: 80vh;
    overflow-y: auto;
    width: fit-content;
    margin: auto;
    padding: 0 30px;
}