@font-face {
    font-family: "Gemunu";
    font-style: normal;
    src: local("GemunuFont"),
        url("./assets/fonts/GemunuLibre-VariableFont_wght.ttf") format("truetype");
}

html {
    background-color: rgb(35, 35, 35);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Gemunu";
}

* {
    font-family: "Gemunu";
}


fieldset {
    display: flex;
    flex-direction: column;
}

#app {
    height: 100vh;
    text-align: center;
}